<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8">
		<meta http-equiv="x-ua-compatible" content="IE=9">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
		<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
	<!-- css	 -->
	<link rel="stylesheet" href="../static/css/rostyle.css" type="text/css">
	<link rel="stylesheet" href="../static/css/bootstrap3.css" >
	     </head>
		
		<body id="home">
	<div id = "subbody">
		<div class="" style="display: none; position: absolute;">
			<div class="aui_outer">
				<table class="aui_border">
				<tbody>
					<tr>
						<td class="aui_nw">
						</td>
						<td class="aui_n">
						</td>
						<td class="aui_ne">
						</td>
					</tr>
					<tr>
						<td class="aui_w">
						</td>
						<td class="aui_c">
									<div class="aui_inner">
										<table class="aui_dialog">
											<tbody>
												<tr>
													<td colspan="2" class="aui_header">
														<div class="aui_titleBar">
															<div style="cursor: move; display: none;" class="aui_title">
															</div>
															  <a class="aui_close" href="javascript:/*artDialog*/;">×</a>
														</div></td></tr><tr><td style="" class="aui_icon">
														<div style="background: url(&quot;http://4006024680.com/turbo-static/turbo/web/js/artDialog/skins/icons/warning.png&quot;) repeat scroll 0% 0% transparent;" class="aui_iconBg">
														</div>
													</td>
													<td style="width: auto; height: auto;" class="aui_main">
														<div style="padding: 20px 25px;" class="aui_content">
														</div>
													</td>
												</tr>
												<tr>
													<td colspan="2" class="aui_footer">
														<div style="" class="aui_buttons">
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
						</td>
						<td class="aui_e">
						</td>
					</tr>
				  <tr>
								<td class="aui_sw">
								</td>
							  <td class="aui_s">
							  </td>
							  <td style="cursor: se-resize;" class="aui_se">
							  </td>
				  </tr>
			 </tbody>
			</table>
		</div>
	</div>
<div id="header" >
	<div class="wrap">
		<p class="top_menu">
		</p>
		<h1><a href="#" id="logo">极路由HiWiFi</a></h1>
	</div>
</div>

<div id="content">
	<div class="wrap">
		<div id="side">
			<ul id="nav">
				<li class="selected"><a href="#" id="home"><span>主 页</span></a></li>
				<li><a href="#" id="state"><span>系统状态</span><i class="alert-icon" title="" id="system-alert" style="display:none;"></i></a></li>
				<li><a href="#" id="options"><span>高级设置</span></a></li>
				<li style="background:none;"><a href="http://4006024680.com/cgi-bin/turbo/;stok=1fd7907b5167ff3f64364e6b64315aa3/admin_web/passport/apps?sid=13" id="mobile" target="_blank"><span>移动管理</span></a></li>
			</ul>
		</div>
		<div>

		<div id="main">
			<div id="services" class="guide_s">
				<a href="appstore" id="plug-in" target="_blank"><span>云插件</span></a>
			</div>
			<div id="map">
				<div style="display: none;" class="stream"></div>
				
				<div class="alert-icon">

				
					<i class="cloud-alert func_alert" id="cloud-alert" title="" style="display:none;"></i>
				</div>
				
				<a href="appstore" id="set_wifi" class="guide_s step3"><span>商店main</span></a>
				<a data-toggle="modal" href="#myModal" id="set_network" class="guide_s step1 ok"><span>外网设置</span></a>
				
			</div>
			<p id="devices">
			<a href="#"><span>►</span>已有<em>2</em>台设备连接</a>
			</p>
			<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-title"><h3>外网设置</h3><h6>请选择您的上网方式</h6></div>
        </div>
        <div class="modal-body">
          <!--tab开始，tab需要一个导航栏和内容栏-->  
         <ul id="myTab" class="nav nav-tabs">  
              <li class="active"><a href="#pppoe" data-toggle="tab">宽带拨号</a></li>  
              <li><a href="#profile" data-toggle="tab">网线连接</a></li>  
              <li><a href="#middle" data-toggle="tab">无线中继</a></li>
        </ul>  
        <div id="myTabContent" class="tab-content">  
          <div class="tab-pane fade in active" id="pppoe">  
            <br/><br/>
                <div class="input-group">
                <span class="input-group-addon">账号</span>
                    <input type="text" class="form-control" placeholder="宽带账号">
                </div>

              <div class="input-group">
                <span class="input-group-addon">密码</span>
                <input type="password" class="form-control" placeholder="宽带密码">
                
              </div>

          <br/><br/>
              
          <button type="submit" class="btn btn-primary">保存</button>
          <button type="button" class="btn btn-primary">取消</button>
          </div>  
              
    <div class="tab-pane fade" id="profile">  
            
          <div class="btn-group">
               <br/><br/>
              <button type="button" class="btn btn-lg btn-default " id="dip">自动方式（DHCP）</button>
              <button type="button" class="btn btn-lg btn-default " id="staticip">手动方式（静态IP）</button>  

            

   

   <div id="ip_type_static_table" style="display:none; float:left;">
              	<br/><br/>

    <!--帐号密码:start-->
    <p>
        <label >IP地址</label>
        <input id="" class="txt" type="text" value="" name="static_ip"></input>
    </p>
    <p>
        <label>子网掩码</label>
        <input id="" class="txt" type="text" value="" name="static_mask"></input>
    </p>
    <p>
        <label>网关</label>
        <input id="" class="txt" type="text" value="" name="static_gw"></input>
    </p>
    <p>
        <label>DNS 地址</label>
        <input id="" class="txt" type="text" value="" name="static_dns"></input>
    </p>
    <p>
       
    <!--

     帐号密码:end

    --> 

</div>
</div>
            <br/><br/>
          <button type="submit" class="btn btn-primary">保存</button>
          <button type="button" class="btn btn-primary">取消</button>
        </div>  
        <div class="tab-pane fade" id="middle">  
        	 <br/><br/>
            <div class="input-group">
                <span class="input-group-addon">网络名称</span>
                    <input type="text" class="form-control" >
                </div>

              <div class="input-group">
                <span class="input-group-addon">网络密码</span>
                <input type="password" class="form-control" >
                
              </div>
          <div>状态 <span>未连接</span></div>
          <br/><br/>
          <button type="submit" class="btn btn-primary">保存</button>
          <button type="button" class="btn btn-primary">取消</button>
        </div> 
      </div>  
              
        <!--tab结束-->  
            
          
        </div>
       
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

			
		
			<a href="#" id="reboot" ><span>重启</span></a>
			<div style="display: none;" id="weixin_img"><img src="files/weixin.jpg"></div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="wrap">
		<p class="system_info">© 2013 中国电信北京研究院  版权所有<span class="pipe"></span> 系统版本 : xxxx-xxxx-xxxx<span class="pipe"></span> MAC : <span id="buttonmac">D4EE07013556</span><span class="pipe"></span>服务热线 : <span id="iphonenum">10000</span></p>
		
	</div>
</div>
<input value="0" id="close_guide_tag" type="hidden">
<input value="0" id="guide_mode" type="hidden">






<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: none repeat scroll 0% 0% rgb(255, 255, 255);">
</div>
</div>

<!-- js file -->
<script type="text/javascript" src="../static/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap3.min.js"></script>
<script type="text/javascript">
  $(function(){
      $("#staticip").click(function(){
          $("#ip_type_static_table").css("display","block");
      });
      $("#dip").click(function(){
          $("#ip_type_static_table").css("display","none");
      });
  });
  </script>

</body>
</html>