<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>智慧网关应用商店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../static/css/flat-ui.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
<link rel="stylesheet" href="../static/css/yahei.css">
      <script src="../static/js/jquery-1.8.3.min.js"></script>
      <script src="../static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../static/js/jquery.ui.touch-punch.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/application.js"></script>
     <script src="../static/js/bootbox.min.js"></script>

  </head>
  <body>
    <div class="container">
	
		     <div class="row ">
     <div class="span9">
     	 	<br />
    <h1>智慧网关应用商店</h1>
  </div>
        <div class="span3">
        	<br />
        	<br />
          <a href="#fakelink" id="simple" class="btn  btn-block btn-inverse">返回主界面</a>
        </div>
			</div>
<br>
<br>
<ul id="myTab" class="nav nav-tabs">

<li class="active" id="simple2" ><a href="#all" data-toggle="tab" >全部应用</a></li>

<li id="simple2" ><a href="#guest" data-toggle="tab" >访客</a></li>
<li id="simple2"><a href="#admin" data-toggle="tab" >管理员</a></li>
<li id="simple2"><a href="#indoor" data-toggle="tab" >内部员工</a></li>
<li id="simple2"><a href="#order" data-toggle="tab" >已启用</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="all">
    	
    	 <div class="row demo-tiles">
        

        <div class="span3">
          <div class="tile tile-hot">
            <img src="../static/image/doubanfm.png" alt="Infinity-Loop@2x" class="tile-image">
            <h3 class="tile-title">豆瓣电台</h3>
            <p id="simple">Wifi音乐共享，收听豆瓣电台的红心曲目</p>
  <a class="btn btn-primary btn-large btn-block"  id="app1"  >配置</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile tile-hot">
            <img src="../static/image/dropbox.png" alt="Pensils@2x" class="tile-image">
            <h3 class="tile-title">DropBox云存储</h3>
            <p id="simple">将云存储“拉近”到路由器，极速上传，自动同步</p>
           <a class="btn btn-primary btn-large btn-block"  id="app2"  >配置</a>
          </div>
        </div>
        
        <div class="span3">
          <div class="tile">
            <img src="../static/image/mobile.png" alt="Compas@2x" class="tile-image big-illustration">
            <h3 class="tile-title">手机远程管理</h3>
            <p  id="simple">支持手机远程配置管理路由器，简化您的操作</p>
            <a class="btn btn-primary btn-large btn-block"  id="app3"  >配置</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <img src="../static/image/game.png" alt="Chat@2x" class="tile-image">
            <h3 class="tile-title">HTML5小游戏</h3>
            <p id="simple">一款无需安装客户端，可以运行在任何设备的小游戏</p>
        <a class="btn btn-primary btn-large btn-block"  id="app4"  >配置</a>
          </div>

        </div>
      </div>
    	
    	<div class="row demo-tiles">
        <div class="span3">
          <div class="tile tile-hot">
            <img src="../static/image/foodies.png" alt="Compas@2x" class="tile-image big-illustration">
            <h3 class="tile-title">热门菜品</h3>
            <p id="simple">展示您在大众点评网上的热销菜品（适用于餐饮行业）</p>
         <a class="btn btn-primary btn-large btn-block"  id="app5"  >配置</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile ">
            <img src="../static/image/coupon.png" alt="Infinity-Loop@2x" class="tile-image">
            <h3 class="tile-title">优惠券</h3>
            <p id="simple">店内的优惠活动及说明（适用于餐饮行业）</p>
        <a class="btn btn-primary btn-large btn-block"  id="app6"  >配置</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <img src="../static/image/clipboard@2x.png" alt="Pensils@2x" class="tile-image">
            <h3 class="tile-title">微博留言墙</h3>
            <p id="simple" >微博关注，留言，并参与店内抽奖（适用于餐饮行业）</p>
            <a class="btn btn-primary btn-large btn-block"  id="app7"  >配置</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <img src="../static/image/webcam.png" alt="Chat@2x" class="tile-image">
            <h3 class="tile-title">VIP认证 </h3>
            <p id="simple">人脸识别VIP客户（适用于沿街商铺）</p>
         <a class="btn btn-primary btn-large btn-block"  id="app8"  >配置</a>
          </div>

        </div>
      </div>
    	
    </div>
    <div class="tab-pane" id="guest">
    	 	<div class="row demo-tiles">
        <div class="span3">
          <div class="tile tile-hot">
            <img src="../static/image/foodies.png" alt="Compas@2x" class="tile-image big-illustration">
            <h3 class="tile-title">热门菜品</h3>
            <p id="simple">展示您在大众点评网上的热销菜品（适用于餐饮行业）</p>
         <a class="btn btn-primary btn-large btn-block"  id="app5"  >配置</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile ">
            <img src="../static/image/coupon.png" alt="Infinity-Loop@2x" class="tile-image">
            <h3 class="tile-title">优惠券</h3>
            <p id="simple">店内的优惠活动及说明（适用于餐饮行业）</p>
        <a class="btn btn-primary btn-large btn-block"  id="app6"  >配置</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <img src="../static/image/clipboard@2x.png" alt="Pensils@2x" class="tile-image">
            <h3 class="tile-title">微博留言墙</h3>
            <p id="simple" >微博关注，留言，并参与店内抽奖（适用于餐饮行业）</p>
            <a class="btn btn-primary btn-large btn-block"  id="app7"  >配置</a>
          </div>
        </div>

        <div class="span3">
          <div class="tile">
            <img src="../static/image/webcam.png" alt="Chat@2x" class="tile-image">
            <h3 class="tile-title">VIP认证 </h3>
            <p id="simple">人脸识别VIP客户（适用于沿街商铺）</p>
         <a class="btn btn-primary btn-large btn-block"  id="app8"  >配置</a>
          </div>

        </div>
      </div>
    	 
    	 <div class="row demo-tiles">
     

        <div class="span3">
          <div class="tile">
            <img src="../static/image/game.png" alt="Chat@2x" class="tile-image">
            <h3 class="tile-title">HTML5小游戏</h3>
            <p id="simple">一款无需安装客户端，可以运行在任何设备的小游戏</p>
        <a class="btn btn-primary btn-large btn-block"  id="app4"  >配置</a>
          </div>

        </div>
      </div>
    	
    
    </div>
    <div class="tab-pane" id="admin">333</div>
    <div class="tab-pane" id="indoor">444.</div>
    <div class="tab-pane" id="order">444.</div>
</div>

 <!-- /container -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="span7">
            <h3 class="footer-title">新应用上线垂询@北研院智慧企业</h3>
         
          </div> <!-- /span8 -->


     
    
        </div>
      </div>
    </footer>
    
    <!-- Load JS here for greater good =============================-->
     <script Charset="UTF-8" type="text/javascript" src="../static/js/my2.js"></script>
  <script src="http://www.see-source.com/bootstrap/js/bootstrap-tab.js"  type="text/javascript"></script>
  
        <script>
        	       $(function () {
            $("#myTab a").click(function (e) {
                $(this).tab('show');
            });
        });
        </script>
  </body>
</html>
